@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }

::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-thumb { background: rgba(148,163,184,.25); border-radius: 999px; }
::-webkit-scrollbar-track { background: rgba(15,23,42,.3); }
